<launch>
	<arg name="cols" default="13" />
	<arg name="rows" default="7" />
	<arg name="h_spacing" default="15" />
	<arg name="v_spacing" default="15" />
	<arg name="radius" default="2" />

	<node
		pkg="semio_attention_ros"
		type="example_attention_targets_node"
		name="example_attention_targets_node"
		output="screen"
		args="~attention_targets:=/semio_attention_node/targets _humanoid_source/type:=none _humanoid_sink/type:=none _cols:=$(arg cols) _rows:=$(arg rows) _h_spacing:=$(arg h_spacing) _v_spacing:=$(arg v_spacing) _radius:=$(arg radius)"
	/>
</launch>
